@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #d6c4fb 2%, #d6c4fb 130px, #eae6f3 50px, #eae6f3 100%);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.screen {
    background-color: #eae6f3;
    width: 680px;
    padding: 40px 30px 50px 30px;
    color: purple;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5)
}

    .screen header {
        font-size: 35px;
        font-weight: 600;
    }

    .screen form {
        margin: 40px 0;
    }

.signupFrm {
    text-align: center;
    display: flex;
    margin: 12% auto;
    justify-content: center;
    align-items: center;
}

.col-md-4 {
    background-color: #eae6f3;
    width: 550px;
    margin: auto;
    padding: 40px 30px 50px 30px;
    color: purple;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5)
}

.title {
    color: purple;
    font-size: 50px;
    margin-bottom: 50px;
}

.form-group {
    text-align: left;
    height: 40px;
    width: 90%;
    margin-bottom: 60px;
}

    .form-group .icon {
        left: 16px;
        padding: 5px;
        color: purple;
        transition: color 0.2s ease;
    }

.input {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    background: transparent;
    color: purple;
    border-radius: 4px;
    border: 1px solid purple;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

::placeholder {
    color: transparent;
}

.label {
    margin: auto;
    position: relative;
    left: 5px;
    padding:10px 1px;
    color: purple;
    font-size: 16px;
    transition: 0.5s;
}

.submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
}

.input:focus + .label {
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: orange
}

.save {
    text-align: center;
    height: 35px;
    width: 100%;
    transition: 0.5s;
    margin: 40px auto 20px;
}

.form-submit {
    margin: 40px auto 20px;
    width: 70%;
    cursor: pointer;
    background: transparent;
    color: rebeccapurple;
    font-size: 15px;
}
form input[type="submit"] {
    margin: 40px auto 20px;
    width: 30%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid purple;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    color: purple;
    font-size: 15px;
}
form input[type="submit"] :hover{
    background: purple;
    
}