@model WebServer.Models.User

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href=@String.Format("/css/style.css") />
<script src=@String.Format("/js/script.js")></script>


<div class="row">
    <div class="col-md-4">
        <div class="loginFrm">
			<h1 class="title">Login</h1>
            </div>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" id="userInput" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password"  class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" onclick="saveLocal()"  class="btn btn-primary" />
            </div>
            <div class="form-group">
                
             <a>You don't have an account? click</a><a asp-action="SignUp"> here </a><a>to sign in</a>
            </div>
        </form>
        @if (ViewBag.Error != null){
            <div class="text-danger">@ViewBag.Error</div>
        }
    </div>
</div>
<script>
    saveLocal=function(){
        let u = document.getElementById('userInput').value;
        let userName = localStorage.setItem('userInput',u)
        console.log(userName.value)
        window.alert(userName.value);
    }
    
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
